<% layout('layouts/boilerplate') %>

<div class = "row row-cols-lg-4 row-cols-md-4">
    <div class="card mb-5 me-5" >
        <img src="/images/guy1.jpg"  style="height:16.5rem; object-fit:cover;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Manav Nigam</h5>
          <p class="card-text">Frontend, Backend, Model</p>
        </div>
      </div>
</div>
