<% layout('layouts/boilerplate') %>

<div class="container-options">
    <div class="box-container">
        <!-- Image Deblur Box -->
        <div class="feature-box">
            <i class="fas fa-image feature-icon text-white"></i>
            <div class="feature-title text-white">Image Deblur</div>
            <a href="/uploadDeblur"><button class="btn btn-primary btn-upload">Upload your image</button></a>
        </div>

        <!-- Image Translation Box -->
        <div class="feature-box">
            <i class="fas fa-exchange-alt feature-icon text-white"></i>
            <div class="feature-title text-white">Image Translation</div>
            <a href="uploadTranslate"><button class="btn btn-primary btn-upload">Upload your image</button></a>
        </div>
    </div>
</div>